<header class="menu">
 <button class="hamburger">☰</button>
 <div class="logo">
    <img src="assets/Images/Logo.png" alt="Logo" />
 </div>
 <nav>
    <a href="#">Check-In</a>
    <a href="#">Manage my booking</a>
    <a href="#">Information</a>
 </nav>
 <div class="language-selector">
    <img src="assets/Images/Icons/VectorMundo(1).png" alt="Idioma" />English
 </div>
 <nav class="mobile-nav">
    <a href="#">Check-In</a>
    <a href="#">Manage my booking</a>
    <a href="#">Information</a>
 </nav>
</header>


